spring:
  main:
    allow-bean-definition-overriding: true
  datasource:
    url: jdbc:mysql://localhost:3306/demoJWTSecurity?useUnicode=true&characterEncoding=UTF-8
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  mail:
    host: smtp.elasticemail.com
    port: 2525
    username: sghoussoun@gmail.com
    password: 7ECD3108F39DF7133665FF518CED8FE7C1B3
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
    default-encoding: UTF-8

  # Configuration pour gérer les 404
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false

  # Configuration JSON pour gérer l'encodage
  jackson:
    default-property-inclusion: non_null
    charset: UTF-8

application:
  security:
    jwt:
      secret-key: 37cc86b9634742f0e5218b71ee3e7b50897e388eb2d28229fca054e3ac6619d0
      expiration: 86400000
      refresh-token:
        expiration: 604800000

server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
      force-response: true
  port: 8081

# Logging pour debug
logging:
  level:
    com.example.security: DEBUG
    org.springframework.web: DEBUG